body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/wall4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-item, img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%);
}
.btn-slider{
  color: rgb(167, 161, 161) !important;
  border: 4px solid rgb(167, 161, 161) !important;
  border-radius: 20px !important;
  width: 10rem;
  font-weight: bold !important;
  background-color: rgba(59, 58, 59, 0.603) !important;
}
.btn-slider:hover{
  color: crimson !important;
  border: 4px solid crimson !important;
}
.card{
  transition: all 0.2s ease-in-out;
}
.card-img{
  box-shadow: 10px 14px 15px #000;
  height: 20rem;
  filter: brightness(40%);
}
.card:hover{
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}
.card-img-overlay{
  margin-top: 2rem;
}
.copyright{
  background-color: rgb(22, 24, 24);
}
.postImg img{
  border-radius: 4%;
  height: 30rem;
  filter: brightness(80%);
  box-shadow: 10px 14px 15px #000;
}
.postImg2 img{
  height: 30rem;
  border-radius: 2%;
  box-shadow: 10px 14px 15px #000;
}
.postDetails{
  width: fit-content !important;
}
.moreIcons{
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: rgb(36, 35, 35); 
  width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5rem;
}
.moreIcons ul{
  padding-inline-start: 0%;
}
.moreIcons span{
  color: rgb(83, 80, 80);
}
.aboutImg{
  border: 3px solid crimson;
  border-radius: 100%;
  width: 11rem;
  height: 11rem;
  padding-top: 5px;
  margin-top: 5rem;
}
.aboutImg img{
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}
.aboutDetails{
  width: 60%;
  color: aquamarine;
}
.aboutIcons{
  color: aquamarine !important;
}
.aboutIcons ul{
  padding-inline-start: 0%;
}
@media (min-width: 768px){
  .postDetails{
    padding-top: 10rem;
  }
}@media(max-width:600px){
  .carousel-caption p{
    font-size: 40px;
  }
  .carousel-caption h4{
    font-size: 15px;
  }
}
@media(min-width:600px){
  .carousel-caption p{
    font-size: 80px;
  }
  .carousel-caption h4{
    font-size: 25px;
  }
}